

.name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	position: fixed;
	padding: 30px 30px 30px 30px;
	margin-left: 100px;
	background-color: #4aaaa5;
	font-color: white;
}

.nav {
	float: right;
	padding-right: 100px;
}


.connect {
	float: right;
}


.boxed {
  width: 480px;
}

#wrap {
	width: 980px;
}
.left {
		float: left;
    width: 60%;
    height: 400px;
    padding-left: 50px;
    padding-top: 50px;
}
.right {
    float: right;
    width: 40%;
    height: 200px;
  }
#solo {
 	float: left;
 }

#aboutme {
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-top: 200px;
	color: #4aaaa5;
	text-align: left;
	float: left;
	position: relative;
}
.wrapper{
	margin: auto;
}
#text {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	display: inline-block;
}

.links li{
	color: #777777;
	background-color: #ffffff;
	width: 55px;
	display: inline;
}

.w3-ul {
	width: 100px;
	height: 1000px;
}

.jumbotron {
	float: right;
}

.copyright
{
    color: white;
    background-color: #666666;
    margin-top: 30%;
    margin-left: 10%;
    padding-top: 10px;
    padding-top color: #4aaaa5;
}
